<div class="chat-header">
<%# 右側の要素で一番上の要素である %>
  <div class="left-header">
<%# chat-headerの子要素を横並べにさせるためにこのようなdivを作っている %>
    <div class="header-title">
<%# チャットルーム名にCSSをあてたいためにこのようなdivを作っている %>
      hogefuga
    </div>
  </div>
  <div class="right-header">
<%# chat-headerの子要素を横並べにさせるためにこのようなdivを作っている %>
    <div class="header-button">
<%# チャット終了ボタンにCSSをあてたいためにこのようなdivを作っている %>
      <a href="#">チャットを終了する</a>
<%# aタグとhref属性を使用してリンク先を決めている %>
<%# aタグで囲われた部分がリンク先として表示されるものである %>
    </div>
  </div>
</div>


<div class="messages">
<%# チャットルーム名とformの間にある要素 %>
  <div class="message">
<%# 投稿した人の名前 投稿日時 投稿文を含んでいる要素である %>
    <div class="upper-message">
<%# 投稿した人の名前 投稿日時のみを含む要素である %>
      <div class="message-user">
<%# 投稿者の名前のみを含む要素である %>
        Tom
      </div>
      <div class="message-date">
<%# 投稿日時のみを含む要素である %>
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
<%# 投稿内容を含む要素である %>
<%# おそらくこのdivは不必要かと思われる なぜならばlower-messageに対するプロパティをmessage-contentに掛けても挙動は前のものと変わらないから %>
      <div class="message-content">
<%# 投稿内容を含む要素である %>
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
<%# ここについての説明は一つ前のものと同じなので省きます %>
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>


<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
<%# form_withのmodelオプションで@room, @messageというインスタンス変数を指定している理由は %>
<%# messagesコントローラーがroomsコントローラーにネストされているからである %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
<%# placeholder属性に文字列を入れるとブラウザではうっすら表示される %>
    <label class="form-image">
<%# labelタグを使うことで子要素が非表示でもクリックすることができる %>
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
<%# file_fieldを使うことで画像をアップロードすることができる %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<%# submitを使うことで送信ボタンを作成することができる %>
<% end %>
