<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %>
  <%# collectionオプションで@messagesを指定したためrender partialで読み込まれるビューファイルではmessagesテーブルのレコードが入った変数messageを使うことができる %>
  <%# messagesテーブルとusersテーブルにはアソシエーションが組まれているのでこのような記述ができる %>
  <%# messagesテーブルのuser_idカラムを参照してそこからusersテーブルのnameカラムが表示できる %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
  <%# messagesテーブルのレコードが作成された時間を表している %>
  <%# 似たようのものでupdated_atカラムが存在するがそれはレコードが更新された時間を表しているので混同しないように注意する %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
<%# messagesテーブルのレコードにファイルが添付されているかどうかをattached?メソッドで検証している %>
<%# 画像が紐づいたモデル名.画像のファイル名.attached?とすることでメッセージを投稿したときに画像が添付されていないときは画像が表示されなくなる %>
<%# メッセージを投稿したときに画像が添付されているときは image_tagからclass: 'message-image'まで読み込まれる %>
  </div>
</div>
