<div class="side-bar-header">
  <div class="header-name">
<%# 親要素のside-bar-headerの子要素としてheader-nameというdivを作っている %>
     <%= link_to current_user.name, edit_user_path(current_user) %>
<%# 「チャットを作成する」ボタンの隣に現在ログインしているユーザーの名前がリンクとして表示される %>
<%# そのリンク先を編集ページにしたいのでrails routesで確認するとusers#editにあたるprefixがedit_user なのでそのようなpath名にしている %>
<%# なぜそのパスに引数としてcurrent_userが渡されているのかというと理由は２つあります %>
<%# ①パスが送られた(クリックした)ときに編集画面の入力欄にcurrent_userの情報を残しておきたいから %>
<%# ②URI patternとして/users/:id/editとあり編集をするにはcurrent_userの情報を持たせないといけないから %>
<%# ②に関してだがidの情報を持たせれば良いので引数名をcurrent_user.idにしてもエラーは起こらない %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
<%# 親要素のside-bar-headerの子要素としてcreate-roomというdivを作っている %>
<%# aタグとhref属性を使うことでリンク先を指定している %>
  </div>
</div>


<div class="rooms">
  <div class="room">
<%# 親要素であるroomsに対して子要素となるroomというdivを作成している %>
<%# roomsの孫要素にあたるroom-nameにpaddingプロパティをあてたいのでroom-nameの親要素であるroomというdivを作成している %>
    <div class="room-name">
      <a href="#">techroom1</a>
<%# aタグとhref属性を使用してリンク先を決めている %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
<%# 27行目から29行目の説明は19行目から26行目までのものと同じである %>
    </div>
  </div>
</div>

