<div class="side-bar-header">
  <div class="header-name">
<%# 親要素のside-bar-headerの子要素としてheader-nameというdivを作っている %>
     <%= link_to current_user.name, edit_user_path(current_user) %>
<%# 「チャットを作成する」ボタンの隣に現在ログインしているユーザーの名前がリンクとして表示される %>
<%# そのリンク先を編集ページにしたいのでrails routesで確認するとusers#editにあたるprefixがedit_user なのでそのようなpath名にしている %>
<%# なぜそのパスに引数としてcurrent_userが渡されているのかというと理由は２つあります %>
<%# ①パスが送られた(クリックした)ときに編集画面の入力欄にcurrent_userの情報を残しておきたいから %>
<%# ②URI patternとして/users/:id/editとあり編集をするにはcurrent_userの情報を持たせないといけないから %>
<%# ②に関してだがidの情報を持たせれば良いので引数名をcurrent_user.idにしてもエラーは起こらない %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>


<div class="rooms">
   <% current_user.rooms.each do |room| %>
<%# 現在ログインしているユーザーが所属しているroomsテーブルのレコードの数だけdo~endが繰り返される %>
<%# そのレコードの情報が変数roomに一つずつ格納されていく %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
<%# 所属しているチャットルームの名前が表示される リンク先は空である %>
      </div>
    </div>
  <% end %>
</div>

