<div class="side-bar-header">
  <div class="header-name">
<%# 親要素のside-bar-headerの子要素としてheader-nameというdivを作っている %>
     <%= link_to current_user.name, edit_user_path(current_user) %>
<%# 「チャットを作成する」ボタンの隣に現在ログインしているユーザーの名前がリンクとして表示される %>
<%# そのリンク先を編集ページにしたいのでrails routesで確認するとusers#editにあたるprefixがedit_user なのでそのようなpath名にしている %>
<%# なぜそのパスに引数としてcurrent_userが渡されているのかというと理由は２つあります %>
<%# ①パスが送られた(クリックした)ときに編集画面の入力欄にcurrent_userの情報を残しておきたいから %>
<%# ②URI patternとして/users/:id/editとあり編集をするにはcurrent_userの情報を持たせないといけないから %>
<%# ②に関してだがidの情報を持たせれば良いので引数名をcurrent_user.idにしてもエラーは起こらない %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>


<div class="rooms">
   <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
<%# 現在ログインしているユーザーが属しているルーム名が表示されそれがメッセージ一覧を表示するリンクとなる %>
<%# メッセージ一覧を表示するパスはrails routesで確認するとroom_messagesとなっているのでそのパス名を記述する %>
<%# messagesコントローラーはroomsコントローラーにネストされたためroom_messages_pathのURIが/room/:room_id/messagesとなっているのでroomsテーブルのレコードのidを引数としてpathと共にコントローラーに送らなければならない %>
<%# 引数名がroomになっている理由は現在ログインしているユーザーが属しているroomsテーブルのレコードが変数roomに格納されているので引数名がそのようになっている %>
      </div>
    </div>
  <% end %>
</div>

