<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
<%# renderメソッドを使用することで外部のビューファイルを読み込んでいる %>
<%# messagesフォルダの_side_bar.html.erbを読み込んでいる %>
  </div>
</div>

<%# チャットルーム一覧を表示させるビューを作成したかったのでroomsのindex.html.erbを作った %>
