.wrapper {
  display: flex;
/* wrapperの子要素であるside-barとchatを横並びにさせるため */
}
.side-bar {
  background-color: #253141;
  width: 300px;
  /* 横幅を300pxに固定 */
  height: 100vh;
  /* 高さは開いているブラウザによって表示が変わる */
  /* しかし開いているブラウザの画面いっぱいの高さ(=100vh)で表示される */
}

.side-bar-header {
  height: 100px;
padding: 0 20px;
/* カリキュラムの指示通りに要素の左右の内側の余白を20pxにしている 0は上下の内側の余白はないことを示している */
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
padding: 0 20px;
/* こちらもカリキュラムの指示通り要素の左右の内側に20pxの余白を開けている */
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
/* サイドバーの横幅が300pxであるため表示されるブラウザ画面のいっぱいの横幅から(=100vw) */
/* サイドバーの横幅を引いたものがchatの横幅である */
}

.chat-header {
  height: 100px;
padding: 0 40px;
/* カリキュラムの指示通り要素の左右の内側の余白を40pxあけている */
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
padding: 46px 40px 0;
/* 要素の内側の上部分に46px 左右に40pxの余白をあけていることを示している */
/* 要素の内側の下部分には余白をあけるように指示されていないため0としている */
}

.form {
  background-color: #DDDDDD;
  height: 90px;
padding: 20px 40px;
/* 要素の内側の上下に20px 左右に40px余白をあけていることを表している */
}
